Repository Optum/sourcehawk, pull requests merged in 2020-11, with the labels that each got.

#15 Java11, Graal Native Image - Windows
  .github/workflows/maven-ci.yml
  .github/workflows/release.yml
  README.md
  bom/pom.xml
  configuration/pom.xml
  core/pom.xml
  distributions/debian/pom.xml
  distributions/docker/pom.xml
  distributions/linux/native-image-builder/Dockerfile
  distributions/linux/pom.xml
  distributions/linux/src/it/groovy/sourcehawk/FixIntegrationSpec.groovy
  distributions/linux/src/it/groovy/sourcehawk/NativeImageSpecification.groovy
  distributions/linux/src/it/groovy/sourcehawk/ScanIntegrationSpec.groovy
  distributions/linux/src/it/groovy/sourcehawk/SourcehawkIntegrationSpec.groovy
  distributions/linux/src/it/groovy/sourcehawk/ValidateConfigIntegrationSpec.groovy
  distributions/linux/src/it/resources/failed/file.properties
  distributions/linux/src/it/resources/failed/sourcehawk.yml
  distributions/linux/src/it/resources/invalid/file.properties
  distributions/linux/src/it/resources/invalid/sourcehawk.yml
  distributions/linux/src/it/resources/marker
  distributions/linux/src/it/resources/passed-warning/file.properties
  distributions/linux/src/it/resources/passed-warning/sourcehawk.yml
  distributions/linux/src/it/resources/passed/file.properties
  distributions/linux/src/it/resources/passed/sourcehawk.yml
  distributions/native-image-parent/README.md
  distributions/native-image-parent/pom.xml
  distributions/pom.xml
  enforcer/core/pom.xml
  enforcer/file/common/pom.xml
  enforcer/file/core/pom.xml
  enforcer/file/docker/pom.xml
  enforcer/file/maven/pom.xml
  enforcer/file/pom.xml
  enforcer/pom.xml
  exec/pom.xml
  exec/src/main/resources/META-INF/native-image/sourcehawk/native-image.properties
  exec/src/test/groovy/com/optum/sourcehawk/exec/ValidateConfigCommandSpec.groovy
  exec/src/test/groovy/com/optum/sourcehawk/exec/graal/nativeimage/NativeImageConfigSpec.groovy
  pom.xml
  protocol/core/pom.xml
  protocol/file/pom.xml
  protocol/pom.xml
Labels: help wanted, platform: windows

#20 Add FlattenConfigCommand for Flattening Sourcehawk Configurations
  .gitignore
  README.md
  bom/pom.xml
  configuration/pom.xml
  configuration/src/main/java/com/optum/sourcehawk/configuration/SourcehawkConfiguration.java
  core/pom.xml
  core/src/main/java/com/optum/sourcehawk/core/repository/LocalRepositoryFileReader.java
  core/src/main/java/com/optum/sourcehawk/core/repository/LocalRepositoryFileWriter.java
  core/src/main/java/com/optum/sourcehawk/core/repository/RepositoryFileWriter.java
  core/src/main/java/com/optum/sourcehawk/core/scan/FixResult.java
  core/src/main/java/com/optum/sourcehawk/core/scan/FlattenConfigResult.java
  core/src/main/java/com/optum/sourcehawk/core/utils/StringUtils.java
  core/src/test/groovy/com/optum/sourcehawk/core/repository/LocalRepositoryFileWriterSpec.groovy
  core/src/test/groovy/com/optum/sourcehawk/core/scan/FixResultSpec.groovy
  core/src/test/groovy/com/optum/sourcehawk/core/scan/FlattenConfigResultSpec.groovy
  core/src/test/groovy/com/optum/sourcehawk/core/utils/StringUtilsSpec.groovy
  distributions/debian/pom.xml
  distributions/docker/pom.xml
  distributions/linux/pom.xml
  distributions/pom.xml
  distributions/rpm/pom.xml
  enforcer/core/pom.xml
  enforcer/file/aot/pom.xml
  enforcer/file/common/pom.xml
  enforcer/file/core/pom.xml
  enforcer/file/docker/pom.xml
  enforcer/file/maven/pom.xml
  enforcer/file/pom.xml
  enforcer/file/registry/pom.xml
  enforcer/pom.xml
  exec/pom.xml
  exec/src/main/asciidoc/_flatten-config-examples.adoc
  exec/src/main/asciidoc/index.adoc
  exec/src/main/java/com/optum/sourcehawk/exec/FlattenConfigCommand.java
  exec/src/main/java/com/optum/sourcehawk/exec/Sourcehawk.java
  exec/src/test/groovy/com/optum/sourcehawk/exec/FixExecutorSpec.groovy
  exec/src/test/groovy/com/optum/sourcehawk/exec/FlattenConfigCommandSpec.groovy
  exec/src/test/resources/flattened/sourcehawk-flattened-base.yml
  exec/src/test/resources/flattened/sourcehawk-flattened-override.yml
  exec/src/test/resources/sourcehawk-override.yml
  pom.xml
  protocol/core/pom.xml
  protocol/file/pom.xml
  protocol/file/src/main/java/com/optum/sourcehawk/protocol/FileProtocol.java
  protocol/pom.xml
Labels: documentation, enhancement, platform: linux, platform: mac, platform: windows

#24 Add flatten executor and logger
  bom/pom.xml
  configuration/pom.xml
  core/pom.xml
  core/src/main/java/com/optum/sourcehawk/core/scan/FlattenConfigResult.java
  distributions/debian/pom.xml
  distributions/docker/pom.xml
  distributions/linux/pom.xml
  distributions/pom.xml
  distributions/rpm/pom.xml
  enforcer/core/pom.xml
  enforcer/file/aot/pom.xml
  enforcer/file/common/pom.xml
  enforcer/file/core/pom.xml
  enforcer/file/docker/pom.xml
  enforcer/file/maven/pom.xml
  enforcer/file/pom.xml
  enforcer/file/registry/pom.xml
  enforcer/pom.xml
  exec/pom.xml
  exec/src/main/java/com/optum/sourcehawk/exec/FlattenConfigCommand.java
  exec/src/main/java/com/optum/sourcehawk/exec/FlattenConfigExecutor.java
  exec/src/main/java/com/optum/sourcehawk/exec/FlattenConfigResultLogger.java
  exec/src/test/groovy/com/optum/sourcehawk/exec/FlattenConfigCommandSpec.groovy
  exec/src/test/groovy/com/optum/sourcehawk/exec/FlattenConfigExecutorSpec.groovy
  exec/src/test/groovy/com/optum/sourcehawk/exec/FlattenConfigLoggerSpec.groovy
  pom.xml
  protocol/core/pom.xml
  protocol/file/pom.xml
  protocol/pom.xml
Labels: enhancement

#25 Update Distribution Builds
  .github/workflows/build-and-push-docker-builders.yml
  .github/workflows/maven-ci.yml
  .github/workflows/release.yml
  core/src/main/java/com/optum/sourcehawk/core/data/Pair.java
  core/src/test/groovy/com/optum/sourcehawk/core/data/PairSpec.groovy
  distributions/debian/Dockerfile
  distributions/debian/pom.xml
  distributions/debian/scripts/publish-package-version-to-bintray.sh
  distributions/debian/src/main/resources/DEBIAN/control
  distributions/debian/src/main/resources/DEBIAN/copyright
  distributions/debian/src/main/resources/DEBIAN/sourcehawk.links
  distributions/docker-builders/Dockerfile-nativeimage
  distributions/docker-builders/Dockerfile-rpmbuild
  distributions/linux/native-image-builder/Dockerfile
  distributions/linux/pom.xml
  distributions/rpm/Dockerfile
  distributions/rpm/pom.xml
  distributions/rpm/scripts/publish-package-version-to-bintray.sh
  distributions/rpm/src/main/resources/sourcehawk.spec
  distributions/scripts/build-and-push-docker-builders-to-bintray.sh
  distributions/scripts/create-sourcehawk-bintray-packages.sh
  enforcer/core/src/main/java/com/optum/sourcehawk/enforcer/ResolverResult.java
  enforcer/core/src/test/groovy/com/optum/sourcehawk/enforcer/ResolverResultSpec.groovy
  enforcer/file/common/src/main/java/com/optum/sourcehawk/enforcer/file/common/ContainsLineAt.java
  enforcer/file/common/src/main/java/com/optum/sourcehawk/enforcer/file/json/JsonPathEquals.java
  enforcer/file/common/src/test/groovy/com/optum/sourcehawk/enforcer/file/common/ContainsLineAtSpec.groovy
  enforcer/file/common/src/test/groovy/com/optum/sourcehawk/enforcer/file/json/JsonPathEqualsSpec.groovy
  enforcer/file/pom.xml
  exec/README.md
  exec/pom.xml
  exec/scripts/update-picocli.sh
  exec/src/main/asciidoc/_installation.adoc
  exec/src/main/java/com/optum/sourcehawk/exec/FixResultFactory.java
  exec/src/main/resources/META-INF/picocli/LICENSE
  exec/src/test/groovy/com/optum/sourcehawk/exec/FixResultFactorySpec.groovy
  exec/update-picocli.sh
  install-linux.sh
  install-mac.sh
  pom.xml
Labels: enhancement, platform: linux
